.modal__submit_type_edit {
  background-image: url(../../../../images/Submit-Button.png);
  transition: background-image 0.4s ease;
}

.modal__submit_type_edit:hover {
  background-image: url(../../../../images/Submit-Button-hover.png);
}