.profile__profession {
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  margin: 0; 
  padding-left: 29px;
  padding-top: 5px;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

@media (max-width: 720px) {
  .profile__profession {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    padding-left: 19px;
    padding-top: 0;
  }
}