.profile__add-button_big {
  display: none;
}

@media (max-width: 720px) {
  .profile__add-button_big {
    display: block;
    margin-top: 66px;
    background-image: url(../../../../images/AddButton320.svg);
    width: 282px;
    height: 50px;
    opacity: 1;
  }
}