.card__text {
  margin: 0;
  padding-top: 1px;
  max-width: 190px;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  padding-left: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}