.card__footer {
  padding: 25px;
  padding-left: 0;
  background-color: white;
  margin-top: -4px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}